<strong>Olá, {{ student }}</strong>
<p>Parabéns, você acabou de realizar sua matricula.</p>
<p>Atenção ao seus horários abaixo:</p>
<p>
  <strong>Plano contratado: </strong> {{ plan }} <br />
  <strong>Valor mensal: </strong> {{ plan_price }} <br />
  <strong>Numero de parcelas: </strong> {{ plan_duration }} <br />
  <strong>Valor total: </strong> {{ price }} <br />
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Data do fim: </strong> {{ end_date }} <br />
  <br />
  <small>
    Obrigado pela preferência.
  </small>
</p>

